.container-fluid {
    background-color: #017CDA;
    color: white;
    font-family: 'Source Serif Pro';
  }

  .navbar {
    background-color: #017CDA;
    color: white;
    font-family: 'Source Serif Pro';
  }

  .nav-item {
    color: white;
    font-family: 'Source Serif Pro';
  }

  #card-im {
    background-color: #FEBA33;
    color: black;
    font-family: 'Source Serif Pro';

  }

  body {
    color: white;
    font-family: 'Source Serif Pro';
  }

  #wrap-x {
    background-color: #017CDA;
    
  }