.container-fluid {
  background-color: #017CDA;
  color: white;
  font-family: 'Source Serif Pro';
}

.navbar {
  background-color: #017CDA;
  color: white;
  font-family: 'Source Serif Pro';
}

.nav-item {
  color: white;
  font-family: 'Source Serif Pro';
}

#card-in {
  background-color: #FEBA33;
  color: black;
  font-family: 'Source Serif Pro';
}

body {
  color: white;
  font-family: 'Source Serif Pro';
}

#wrap-x {
  background-color: #017CDA;

}

#card-im {
  background-color: #FEBA33;
  color: black;
  font-family: 'Source Serif Pro';
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 0px;
  padding-left: 0px;
  

}

#cfluid {
  background-color: #E6E6E6;
  color: black;
  font-family: 'Source Serif Pro';

}

#floatRightClear {
  float: right;
}

#rmpadding{
  padding-left: 0px;
  padding-right:0px;
}

input {
  text-align: center;
}
::-webkit-input-placeholder {
  text-align: center;
}
